.creatingDocx {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FloorConfigComponent {
  width: 100%;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creatingDocx input[type="number"] {
  width: 60%;
  height: 50px;
  font-size: 22px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.creatingDocx input[type="text"] {
  width: 60%;
  height: 50px;
  font-size: 22px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.file-input {
  font-size: 16px;
}

.btn {
  width: 60%;
  height: 50px;
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.btn button {
  width: 100%;
  height: 100%;
  font-size: 34px;
  text-align: center;
}

.tikraKindOptionsInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oviKisyiBetonInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.oviTikraInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.reshetTikraInput {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.koterInput {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}

.previewImg {
  width: 80%;
}

.amyd-input-container {
  display: flex;
  font-size: 14px;
  flex-direction: row-reverse;
}
