.DocxListElement {
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.DocxListElement img {
  width: 20%;
}

.documnet-info-container {
  width: 30%;
}

.documnet-info-container-text {
}

.list-btn {
  text-decoration: none;
  background-color: orange;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.list-btn img {
  width: 80%;
  height: 80%;
}

.red-background {
  background-color: red;
}
